[submodule "packages/contracts"]
	path = packages/contracts
	url = git@github.com:hop-exchange/contracts.git
[submodule "contracts"]
	path = contracts
	url = git@github.com:hop-exchange/contracts.git
