<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="content-language" content="en-us">
    <meta name="description" content="Hop Explorer">
    <meta name="keywords" content="hop, hop exchange, hop explorer, hop transfers, hop visualizations">
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="application-name" content="Hop">
    <title>Hop Explorer</title>
    <link rel="canonical" href="https://explorer.hop.exchange">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="app" v-cloak>
      <div class="chartView">
        <details open>
          <summary>Chart ▾</summary>
          <header class="header">
            <h1 class="rainbow rainbow-animated">Hop transfers</h1>
          </header>
          <div class="chartHeader">
            <label>Source</label>
            <label class="arrow rainbow rainbow-animated animation-delay">⟶</label>
            <label>Destination</label>
          </div>
          <div class="chartContainer">
            <div id="chart"></div>
          </div>
        </details>
      </div>
      <div id="tvl" style="display:none">
        <details open>
          <summary>Total Value Locked (USD) ▾</summary>
          <div>
            <div>Total: {{tvl.total.formattedAmount}}</div>
            <div class="ethereum">Ethereum: {{tvl.ethereum.formattedAmount}}</div>
            <div class="polygon">Polygon: {{tvl.polygon.formattedAmount}}</div>
            <div class="xdai">xDai: {{tvl.xdai.formattedAmount}}</div>
          </div>
      </div>
      <details open>
        <summary>Transfers ▾</summary>
        <div>
          <div class="tableHeader">
            <div>
              <select class="perPageSelection" v-model="perPage" @change="setPerPage">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="250">250</option>
                <option value="500">500</option>
                <option value="1000">1000</option>
                <option value="2500">2500</option>
                <option value="5000">5000</option>
                <option value="10000">10,000</option>
              </select>
          </div>
          <div class="pagination">
            <button v-if="hasPreviousPage" @click="previousPage()" class="paginationButton">previous page</button>
            <button v-if="hasNextPage" @click="nextPage()" class="paginationButton">next page</button>
          </div>
        </div>
        <div id="transfers">
          <table>
            <thead>
              <tr>
                <th></th><th>Date</th><th>Source</th><th>Destination</th><th>Transfer ID</th><th>Amount</th><th>Token</th><th>Bonded</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(x, index) in transfers">
                <td class="index">{{ x.index + 1 }}</td>
                <td class="timestamp" :title="x.isoTimestamp">{{ x.relativeTimestamp }}</td>
                <td :class="x.sourceChainSlug">
                  <img :src="x.sourceChainImageUrl" :alt="x.sourceChainName">
                  {{ x.sourceChainName }}
                  <span style="small-arrow">⟶</span>
                </td>
                <td :class="x.destinationChainSlug">
                  <img :src="x.destinationChainImageUrl" :alt="x.destinationChainName">
                  {{ x.destinationChainName }}
                </td>
                <td class="transferId">
                  <a :class="x.sourceChainSlug" :href="x.sourceTxExplorerUrl" target="_blank" title="View on block explorer">
                    {{ x.transferId }}
                  </a>
                </td>
                <td class="amount" :title="x.amount">{{ x.formattedAmount }}</td>
                <td class="token">
                  <img :src="x.tokenImageUrl" :alt="x.token">
                  {{ x.token }}
                </td>
                <td class="bonded">
                  <a v-if="x.bondTxExplorerUrl" :class="`${x.bonded ? 'yes' : 'no'}`" :href="x.bondTxExplorerUrl" target="_blank" title="View on block explorer">
                    <img :src="x.destinationChainImageUrl" :alt="x.destinationChainName">
                    Bonded
                  </a>
                  <span v-if="!x.bondTxExplorerUrl && x.sourceChain !== 1" :class="`${x.bonded ? 'yes' : 'no'}`">
                    <img :src="x.destinationChainImageUrl" :alt="x.destinationChainName">
                    Pending
                  </span>
                  <span class="na" v-if="x.sourceChain === 1" title="Not Applicable">
                    N/A
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="tableFooter">
          <div>
            <select class="perPageSelection" v-model="perPage" @change="setPerPage">
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="25">25</option>
              <option value="50">50</option>
              <option value="100">100</option>
              <option value="250">250</option>
              <option value="500">500</option>
              <option value="1000">1000</option>
              <option value="2500">2500</option>
              <option value="5000">5000</option>
              <option value="10000">10,000</option>
            </select>
          </div>
          <div class="pagination">
            <button v-if="hasPreviousPage" @click="previousPage" class="paginationButton">previous page</button>
            <button v-if="hasNextPage" @click="nextPage" class="paginationButton">next page</button>
          </div>
        </div>
      </details>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://cdn.rawgit.com/misoproject/d3.chart/master/d3.chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/1.27.0/luxon.min.js"></script>
    <script src="https://cdn.ethers.io/lib/ethers-5.0.umd.min.js"></script>
    <script src="../lib/sankey.patched.js"></script>
    <script src="main.js"></script>
  </body>
</html>
